*{
  font-style: arial;
}

/* HEADER*/
header {
   background-color: #000;
   color: rgba(0,255,0, 0.7);
}
header nav ul li{
  height: 5vh;
  list-style-type:none;
  display: inline-block;
}

/* ASIDE */
aside nav ul li{
  width: 100%;
  height: 5vh;
  list-style-type:none;
}

.processor{
    height: 95vh;
}
.clicker{
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  height: 25vh;
}
.clicker:hover{
  transform: scale(1.05);
  transition: transform 0.10s;
}
#code {
  background-image: url("./images/codeLines.png");
  background-position: 50% 50%;
  cursor: pointer;
}
/* MAIN */
.main{
  background-image: url("./images/level1.png");
  height: 95vh;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

canvas{
  position: fixed;
  /*height: 100vh;
  width: 100%;*/
}
